<% provide(:title, "q1")%>

<h1>損益算 確認問題1</h1>
<p>仕入れ値と定価の関係を表す式はどれか。</p>

<ol>
  <li><%= @array[0]%></li>
  <li><%= @array[1]%></li>
  <li><%= @array[2]%></li>
</ol>

<p>答え：<%= @ans %></p>

<div class="pcut" id="explain" v-show="show">
<p>解説</p>
<blockquote>
<p>仕入れ値と定価の関係</p>
<p>定価は仕入れ値に利益を加算したものであるから</p>
<p>定価=仕入れ値+利益 である。</p>
</blockquote>
</div>
<%= link_to "損益算Top", :sonneki %>
<%= javascript_pack_tag 'explain_vue' %>
