<% provide(:title, "q1")%>

<h1>損益算 確認問題1</h1>
<p>仕入れ値と定価の関係を表す式はどれか。</p>
<div id="explain">
  <%= render 'layouts/choices_table', q_num: 20011 %>
<div v-show="show">
<span>答え：</span><span id="answer"><%= @ans %></span>
<p>解説</p>
<blockquote>
<p>仕入れ値と定価の関係</p>
<p>定価は仕入れ値に利益を加算したものであるから</p>
<p>定価=仕入れ値+利益 である。</p>
</blockquote>

<%= link_to "もう一度解く", :sonneki_q1_k %><span>&nbsp;&nbsp;</span>
<%= link_to "次の問題へ", :sonneki_q2_k %>

</div>

</div>
<%= link_to "損益算Top", :sonneki %>

