<% provide(:title, "q1")%>
<h1>損益算 -確認問題1-</h1>
<p>仕入れ値と定価の関係を表す式はどれか。</p>

<ol>
  <li><%= @val1 %>=<%= @val2 %>+<%= @val3 %></li>
  <li><%= @val2 %>=<%= @val3 %>+<%= @val1 %></li>
  <li><%= @val3 %>=<%= @val1 %>+<%= @val2 %></li>
</ol>

<%= link_to "戻る", :back %>
