<% provide(:title, "q1")%>
<h1>損益算 対策問題1</h1>
<p class="question"><%= @val1 %>円で仕入れた商品に<%= @val2 %>円の定価をつけたが、商品が売れないので、定価の<%= @val3 %>％引きで販売することにした。利益はいくらになるか。</p>
<div id="explain">
  <%= render 'layouts/choices_table', q_num: 10011 %>

<div v-show="show">
<span>答え：</span><span id="answer"><%= @ans%>円</span>
<p>解説</p>
<blockquote>
<ol>
<li>売値を求める</li>
<p>定価の<%= @val3 %>％引きで売るので売値は、</p>
<p><%= @val2%>*<%= @val3%>/100=<%= @sell%>円</p>
<li>利益を求める</li>
<p>売値-仕入れ値=利益より、</p>
<p><%= @sell%>-<%= @val1%>=<%= @ans%>円</p>
<p>したがって、正解は<%= @ans%>円である。</p>
</ol>
</blockquote>
<%= link_to "もう一度解く", :sonneki_q1_t %><span>&nbsp;&nbsp;</span>
</div>

<div v-if="flag" v-show="show">
<%= link_to "次の問題へ", :sonneki_q2_t %>
</div>
<div v-else v-show="show">
<%= link_to "確認問題へ", :sonneki_q1_k %>
</div>

</div>
<%= link_to "損益算Top", :sonneki %>
