<% provide(:title, "q2")%>
<h1>損益算 確認問題2</h1>
<p>仕入れ値<%= @val1 %>円の商品を<%= @val2 %>個販売して、<%= @val3 %>円の利益を得た。定価はいくらか。</p>

<ol>
  <li><%= @array[0] %>円</li>
  <li><%= @array[1] %>円</li>
  <li><%= @array[2] %>円</li>
  <li><%= @array[3] %>円</li>
</ol>
<p>答え：<%= @ans %>円</p>

<div class="pcut">
<p>解説</p>
<blockquote>
<p>定価を求める</p>
<p><%= @val2%>個販売して、<%= @val3%>円の利益を得るには、1個あたりの利益は<%= @val3%>/<%= @val2%>=<%= @one_profit%>円である。</p>
<p>定価は、仕入れ値+利益で求められるので、</p>
<p><%= @val1%>+<%= @one_profit%>=<%= @ans%>円</p>
<p>になる。</p>
<p>したがって、正解は<%= @ans%>円である。</p>
</blockquote>
</div>
<%= link_to "損益算Top", :sonneki %>

