<% provide(:title, "q2")%>
<h1>損益算 -確認問題2-</h1>
<p>仕入値<%= @val1 %>円の商品を<%= @val2 %>個販売して、<%= @val3 %>円の利益を得た。定価はいくらか。</p>

<ol>
  <li><%= @array[0] %>円</li>
  <li><%= @array[1] %>円</li>
  <li><%= @array[2] %>円</li>
  <li><%= @array[3] %>円</li>
</ol>

<p>答え：<%= @ans %>円</p>
<%= link_to "損益算Top", :sonneki %>

