<% provide(:title, "q2")%>
<h1>損益算 対策問題2</h1>
<p>あるお店において、定価の<%= @val1 %>％引の売値で販売しても、原価の<%= @val2%>％の利益が出るように定価を設定している商品がある。</p>

<p>1. この商品の定価が<%= @val3%>円の場合、原価はいくらか。</p>

<ol>
  <li><%= @array[0]%>円</li>
  <li><%= @array[1]%>円</li>
  <li><%= @array[2]%>円</li>
  <li><%= @array[3]%>円</li>
</ol>

<p>答え：<%= @ans %>円</p>
<%= link_to "損益算Top", :sonneki %>
