<% provide(:title, "q2")%>
<h1>損益算 対策問題2</h1>
<p>あるお店において、定価の<%= @val1 %>％引の売値で販売しても、原価の<%= @val2%>％の利益が出るように定価を設定している商品がある。</p>
<p>この商品の定価が<%= @val3%>円の場合、原価はいくらか。</p>
<div id="explain">
<%= render 'layouts/choices_table'%>

<div v-show="show">
<span>答え：</span><span id="answer"><%= @ans %>円</span>

<p>解説</p>
<blockquote>
<ol>
<li>定価の<%= @val1%>％引きの売値を計算する</li>
<p><%= @val3%>*(1-<%= @val1_f%>)=<%= @price%>円</p>
<li>原価をx円として方程式を立てる</li>
<p><%= @price%>-x=<%= @val2_f%>x</p>
<p><%= @prof_per%>x=<%= @price%></p>
<p>x=<%= @ans%>円</p>
<p>したがって、正解は<%= @ans%>円である。</p>
</ol>
</blockquote>
<%= link_to "もう一度解く", :sonneki_q2_t %><span>&nbsp;&nbsp;</span>
</div>

<div v-if="flag" v-show="show">
<%= link_to "次の問題へ", :sonneki_q3_t %>
</div>
<div v-else v-show="show">
<%= link_to "確認問題へ", :sonneki_q1_k %>
</div>

</div>
<%= link_to "損益算Top", :sonneki %>
