<% provide(:title, "q3")%>
<h1>損益算 確認問題3</h1>
<p><%= @val1 %>円で仕入れた商品に、原価の<%= @val2%>％の利益を見込んで定価をつけた。定価はいくらか。</p>
<div id="explain">
  <%= render 'layouts/choices_table', q_num: 20013 %>
<div v-show="show">
<span>答え：</span><span id="answer"><%= @ans %>円</span>
<p>解説</p>
<blockquote>
<p>定価を求める</p>
<p>仕入れ値*(1+利益率)=定価より、</p>
<p><%= @val1%>*(1+<%= @val2_f%>)=<%= @ans%></p>
<p>したがって、正解は<%= @ans%>円である。</p>
</blockquote>

<%= link_to "もう一度解く", :sonneki_q3_k %><span>&nbsp;&nbsp;</span>

</div>
</div>
<%= link_to "損益算Top", :sonneki %>
