<% provide(:title, "q3")%>
<h1>損益算 確認問題3</h1>
<p><%= @val1 %>円で仕入れた商品に、原価の<%= @val2%>％の利益を見込んで定価をつけた。定価はいくらか。</p>

<ol>
  <li><%= @array[0]%>円</li>
  <li><%= @array[1]%>円</li>
  <li><%= @array[2]%>円</li>
  <li><%= @array[3]%>円</li>
</ol>

<p>答え：<%= @ans %>円</p>
<%= link_to "損益算Top", :sonneki %>
