<% provide(:title, "q3")%>
<h1>損益算 対策問題3</h1>
<p>あるお店で、原価<%= @val1 %>円の商品を<%= @val2%>個仕入れて、<%= @val3 %>％の利益を見込んで定価をつけた。このうち、<%= @val4 %>個を定価で売った。</p>
<p>残り<%= @val5 %>個の売値を定価の<%= @val6 %>％引きですべて売ったとき、利益または損失はいくらになるか。</p>

<ol>
  <li><%= @array[0]%></li>
  <li><%= @array[1]%></li>
  <li><%= @array[2]%></li>
  <li><%= @array[3]%></li>
  <li><%= @array[4]%></li>
  <li><%= @array[5]%></li>
  <li><%= @array[6]%></li>
</ol>

<p>答え：<%= @ans %></p>

<div class="pcut">
<p>解説</p>
<blockquote>
<ol>
<li>仕入れの総額を計算する</li>
<p>仕入れの総額は、</p>
<p><%= @val1%>*<%= @val2%>=<%= @all_cost%>円</p>
<li>定価を計算する</li>
<p>定価は、原価の<%= @val1%>に<%= @val3%>％の利益を見込んだ値なので、</p>
<p><%= @val1%>*(1+<%= @val3%>/100)=<%= @price %>円</p>
<li>定価から売値を計算する</li>
<p>定価は<%= @price%>円なので、定価の<%= @val6%>％引きの売値は、</p>
<p><%= @price %>*(1-<%= @val6%>/100)=<%= @discount %>円</p>
<li>総売上を計算する</li>
<p>この売値で残りの<%= @val5%>個を売ると、総売上は、</p>
<p>(<%= @price %>*<%= @val4%>)+(<%= @discount%>*<%= @val5%>)=<%= @all_sell%>円</p>
<li>総売上-仕入れ値の総額を計算する</li>
<p>よって、利益計算は、</p>
<p><%= @all_sell%>-<%= @all_cost%>=<%= @all_profit%>円</p>
<p>となるので、<%= @ans%>となる。</p>

<ol>
</blockquote>
</div>
<%= link_to "損益算Top", :sonneki %>
