<% provide(:title, "q3")%>
<h1>損益算 対策問題3</h1>
<p>あるお店で、原価<%= @val1 %>円の商品を<%= @val2%>個仕入れて、<%= @val3 %>％の利益を見込んで定価をつけた。このうち、<%= @val4 %>個を定価で売った。</p>
<p>残り<%= @val5 %>個の売値を定価の<%= @val6 %>％引きですべて売ったとき、利益または損失はいくらになるか。</p>

<ol>
  <li><%= @array[0]%></li>
  <li><%= @array[1]%></li>
  <li><%= @array[2]%></li>
  <li><%= @array[3]%></li>
  <li><%= @array[4]%></li>
  <li><%= @array[5]%></li>
  <li><%= @array[6]%></li>
</ol>

<p>答え：<%= @ans %></p>
<%= link_to "損益算Top", :sonneki %>
