<% provide(:title, "Top")%>
<% if flash[:alert] %>
<div class="alert alert-danger">
  <%= flash.now[:alert]%>
</div>
<% elsif flash[:notice]%>
<div class="alert alert-success">
<%= flash.now[:notice]%>
</div>
<% end %>
<h1>SPI対策サイト</h1>
<h2>言語問題</h2>
<ul>
<li><%= link_to "二語関係", "#" %></li>
<li><%= link_to "語句の意味", "#" %></li>
<li><%= link_to "用法判別", "#" %></li>
<li><%= link_to "読解", "#" %></li>
</ul>
<h2>非言語問題</h2>
<ul>
<li><%= link_to "損益算", sonneki_path %></li>
<li><%= link_to "速度算", velocity_path %></li>
<li><%= link_to "集合", "#" %></li>
<li><%= link_to "確率", "#" %></li>
<li><%= link_to "順列・組み合わせ", "#" %></li>
<li><%= link_to "推論", "#" %></li>
</ul>

