<% provide(:title, "損益算")%>
<h1>SPI 非言語問題</h1>
<h2>損益算</h2>

<h3>対策問題</h3>
<ul>
  <li><%= link_to "問題1", :sonneki_q1_t %></li>
  <li>問題2</li>
</ul>

<h3>確認問題</h3>
<ul>
  <li><%= link_to "問題1", :sonneki_q1_k %></li>
  <li><%= link_to "問題2", :sonneki_q2_k %></li>
  <li><%= link_to "問題3", :sonneki_q3_k %></li>
</ul>

<%= link_to "戻る", :root %>
