<% provide(:title, "速度算")%>
<h1>SPI 非言語問題</h1>
<h2>速度算</h2>

<h3>対策問題</h3>
<ul>
  <li><%= link_to "問題1", :velocity_q1_t %></li>
</ul>

<h3>確認問題</h3>
<ul>
  <li><%= link_to "問題1", :velocity_q1_k %></li>
  <li><%= link_to "問題2", :velocity_q2_k %></li>
  <li><%= link_to "問題3", :velocity_q3_k %></li>
</ul>

<%= link_to "戻る", :root %>
