<% provide(:title, "q1")%>
<h1>速度算 確認問題1</h1>
<p class="question">速さ、距離、時間の関係を表す式はどれか。</p>
<div id="explain">
  <%= render 'layouts/choices_table', q_num: 20021 %>
<div v-show="show">
<span>答え：</span><span id="answer"><%= @ans%></span>

<p>解説</p>
<blockquote>
<p>基本公式を覚えておきましょう</p>
<p>距離=速さ×時間</p>
<p>速さ=距離÷時間</p>
<p>時間=距離÷速さ</p>
</blockquote>
<%= link_to "もう一度解く", :velocity_q1_k %><span>&nbsp;&nbsp;</span>
<%= link_to "次の問題へ", :velocity_q2_k %>
</div>
</div>
<%= link_to "速度算Top", :velocity %>
