<% provide(:title, "q1")%>
<h1>速度算 対策問題1</h1>
<p>P地点からQ地点までは40kmある。AさんはP地点から時速<%= @val1%>kmでQ地点に向かって出発した。BさんはAさんが出発してから<%= @val2 %>分後にQ地点から時速<%= @val3%>kmでP地点に向かって出発した。AさんとBさんは、何分後に出会うか。必要があれば、最後に小数点以下第一位を四捨五入せよ。</p>

<ol>
  <li><%= @array[0]%>分後</li>
  <li><%= @array[1]%>分後</li>
  <li><%= @array[2]%>分後</li>
  <li><%= @array[3]%>分後</li>
</ol>

<p>答え：<%= @ans%>分後</p>
<%= link_to "速度算Top", :velocity %>
