<% provide(:title, "q1")%>
<h1>速度算 対策問題1</h1>
<p class="question">P地点からQ地点までは40kmある。AさんはP地点から時速<%= @val1%>kmでQ地点に向かって出発した。BさんはAさんが出発してから<%= @val2 %>分後にQ地点から時速<%= @val3%>kmでP地点に向かって出発した。AさんとBさんは、何分後に出会うか。必要があれば、最後に小数点以下第一位を四捨五入せよ。</p>
<div id="explain">
  <%= render 'layouts/choices_table', q_num: 10021 %>
<div v-show="show">
<span>答え：</span><span id="answer"><%= @ans%>分後</span>
<p>解説</p>
<blockquote>
<p>出会う時間を求める</p>
<p>AさんとBさんがh時間後に出会うとすると、</p>
<p>(Aさんが<%= @val2%>分間に進む距離)+(Aさんがh時間に進む距離)+(Bさんがh時間に進む距離)=40km</p>
<p>の式が成り立つ。</p>
<p><%= @val2%>分は、<%= @val2%>/60時間なので、Aさんが時速<%=@val1%>kmで進む距離は、</p>
<p><%= @val1%>*(<%=@val2%>/60)=<%= @a_distance%></p>
<p>で、<%= @a_distance%>kmである。</p>
<p>Aさんがh時間に進む距離は<%=@val1%>*h、Bさんがh時間に進む距離は<%=@val3%>*hなので、合わせると、</p>
<p><%= @a_distance%>+<%= @val1%>*h+<%= @val3%>*h=40</p>
<p>である。これを、hについて解く。</p>
<p><%= @ab_v%>*h=<%= @rest_distance%></p>
<p>h=<%= @rest_distance%>/<%=@ab_v%></p>
<p>何分後かと聞かれているので</p>
<p>h*60=<%= @ans%></p>
<p>したがって、正解は<%= @ans%>分後である。</p>
</blockquote>
<%= link_to "もう一度解く", :velocity_q1_t %><span>&nbsp;&nbsp;</span>
</div>

<div v-if="flag" v-show="show">
<%= link_to "次の問題へ", :velocity_q2_t %>
</div>
<div v-else v-show="show">
<%= link_to "確認問題へ", :velocity_q1_k %>
</div>

</div>
<%= link_to "速度算Top", :velocity %>
