<% provide(:title, "q2")%>
<h1>速度算 確認問題2</h1>
<p><%= @val1 %>kmの道のりを自動車で一定の速さで走ると<%= @val2%>時間かかった。自動車の速さは毎分何mですか。必要があれば、小数点以下を切り捨てよ。</p>

<ol>
  <li><%= @array[0] %>m/分</li>
  <li><%= @array[1] %>m/分</li>
  <li><%= @array[2] %>m/分</li>
  <li><%= @array[3] %>m/分</li>
  <li><%= @array[4] %>m/分</li>
</ol>

<p>答え：<%= @ans%>m/分</p>
<%= link_to "速度算Top", :velocity %>
