<% provide(:title, "q2")%>
<h1>速度算 対策問題2</h1>
<p>特急列車が時速<%= @val1 %>kmで、時速<%= @val2 %>kmの貨物列車を追い越した。長さは特急列車が<%= @val3 %>m、貨物列車が<%= @val4 %>mであったとき、特急列車の先端が貨物列車の末尾に追いついてから、特急列車の末尾が貨物列車の先端を追い越すまでに何秒かかるか。</p>

<ol>
  <li><%=@array[0]%>秒</li>
  <li><%=@array[1]%>秒</li>
  <li><%=@array[2]%>秒</li>
  <li><%=@array[3]%>秒</li>
</ol>

<p>答え：<%= @ans %>秒</p>
<%= link_to "速度算Top", :velocity %>
