<% provide(:title, "q2")%>
<h1>速度算 対策問題2</h1>
<p class="question">特急列車が時速<%= @val1 %>kmで、時速<%= @val2 %>kmの貨物列車を追い越した。長さは特急列車が<%= @val3 %>m、貨物列車が<%= @val4 %>mであったとき、特急列車の先端が貨物列車の末尾に追いついてから、特急列車の末尾が貨物列車の先端を追い越すまでに何秒かかるか。</p>
<div id="explain">
  <%= render 'layouts/choices_table', q_num: 10022, ans: @ans.to_s+"秒" %>

<blockquote>
<p>追い越しにかかる時間</p>
<p>以下の(1)、(2)の状況を経て、特急列車は貨物列車を追い越す。</p>
<p>(1)特急列車の先端が、貨物列車の末尾に追いついてから貨物列車の先端に追いつく</p>
<p>(2)特急列車の先端が貨物列車の先端に追いついてから、特急列車の末尾が貨物列車の先端を追い越す</p>

<p>特急列車は貨物列車と比較して、(1)で貨物列車の長さ<%= @val4 %>m、(2)で特急列車の長さ<%= @val3%>mを多く進むので、その合計は<%= @val3%>+<%= @val4%>=<%= @length %>になる。</p>
<p>また、特急列車は時速<%= @val1%>kmであるから、特急列車が貨物列車を追い越す速度は<%= @val1 %>-<%=@val2%>=時速<%= @total_v_h%>kmで、秒速にすると(<%= @total_v_h%>/60/60)kmより<%= @total_v%>mである。よって、秒速<%= @total_v%>mで<%= @length%>mを進むときの時間は、<%= @length%>/<%= @total_v%>=<%= @ans%>秒になる。</p>
<p>したがって、正解は<%= @ans %>秒である。</p>
</blockquote>
<%= link_to "もう一度解く", :velocity_q2_t %><span>&nbsp;&nbsp;</span>
</div>

<div v-if="!flag" v-show="show">
<%= link_to "確認問題へ", :velocity_q1_k %>
</div>

</div>
<%= link_to "速度算Top", :velocity %>
